<div class="container">

  <div class="row">
  <h1 style="margin-top: 50px;">Places</h1>
  </div>

<br>

  <div class="row" style="padding: 20px;">
    <p>
    <a href="/places/new" class="btn btn-outline-primary">New place</a>
    </p>

  </div>

<br>

  <div class="row">
    <div class="col">
      <ul>
        <% for place in @places %>
        <li><a href="/places/<%= place["id"] %>" class="btn btn-link"><%= place["name"] %></a></li>
        <% end %>
      </ul>
      </div>
  </div>

</div>